<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="Погода"
        android:roundIcon="@drawable/background_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".HourlyActivity"
            android:exported="false" />
        <activity
            android:name=".ApiKeyActivity"
            android:exported="false" />
        <activity
            android:name=".ForecastActivity"
            android:exported="false" />
        <activity
            android:name=".CitiesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>